/* DEFAULTS */

* {
    margin: 0px;
    padding: 0px;
    border: none;
    --theme1: #D575FF;
    --theme2: #A06BE8;
    --theme3: #9582FF;
    --theme4: #6B7AE8;
    --theme5: #75AAFF;
}

html {
    background-color: rgba(241,255,244,1);
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;

    /* Animated gradient by gradient-animator.com */
    background: linear-gradient(20deg, var(--theme3), white, var(--theme5));
    background-size: 300% 600%;

    -webkit-animation: bg-gradient-animated 15s ease infinite;
    -moz-animation: bg-gradient-animated 15s ease infinite;
    animation: bg-gradient-animated 15s ease infinite;

    @-webkit-keyframes bg-gradient-animated {
        0%{background-position:23% 0%}
        50%{background-position:78% 100%}
        100%{background-position:23% 0%}
    }
    @-moz-keyframes bg-gradient-animated {
        0%{background-position:23% 0%}
        50%{background-position:78% 100%}
        100%{background-position:23% 0%}
    }
    @keyframes bg-gradient-animated { 
        0%{background-position:23% 0%}
        50%{background-position:78% 100%}
        100%{background-position:23% 0%}
    }
}

header {
    display: inline-block;
    width: 100vw;
    height: 100px;
    background: var(--theme3);
}

/* NAVIGATION */
/* Navigation bar by Patak https://codepen.io/Patak/pen/QpLpOV/ */

nav {
	margin: 27px auto 0;

	position: relative;
	width: 310px;
	height: 50px;
	background-color: var(--theme5);
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}

nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: var(--theme1);
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: var(--theme4);
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: var(--theme2);
}

/* WELCOME SECTION */

#welcome-wrapper {
    display: inline-block;
    height: 75vh;
    width: 100%;
}

#welcome-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    justify-items: flex-end;
}

#welcome-img {
    margin: auto;
    margin-bottom: 0px;
    margin-left:200px;
    width: auto;
    max-width: 400px;
}

#welcome-text-wrapper {
    width: 50%;
    min-width: 500px;
    margin: auto;
    font-weight: normal;
}

#welcome-heading {
    font-weight: normal;
    font-size: 4rem;
    line-height: 100px;
    color: rgb(0, 36, 24);
}

#welcome-subheading {
    font-size: 1.9rem;
    line-height: 50px;
}


/* PROJECTS */

#Projects {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: rgba(255, 255, 255,0.1);
}

.project-tile {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 300px;
    width: 400px;
    border: 1px solid rgb(27, 0, 27);
    border-radius: 10px;
    background-color: var(--theme5);
    margin: 50px auto;
}

.project-image {
    height: 175px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid rgb(27, 0, 27);
    margin: 0;
}

.type2-url:link {
    color: rgb(12, 49, 34);
}

.type2-url:visited {
    color: rgb(12, 49, 34);
}

.type2-url:hover{
    color: rgb(144, 80, 196);
}

.project-text {
    margin: 30px 5px auto 5px;
    padding: 0px 10px 0px 10px;
}

/* CONTACT */

#Contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    height: 20vh;
    min-width: 500px;
    width: 100%;
    background-color: rgb(209, 198, 235);
}

.contact-link {
    margin: auto;
    font-size: 1.5rem;
    background-color: rgb(251, 240, 255);
    padding: 20px;
    border: 1px solid rgb(35, 0, 63);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media screen and (max-width: 1150px) {
    #welcome-wrapper {
        display: inline-block;
        height: 100%;
        width: 100%;
    }
    
    #welcome-text-wrapper {
        min-width: 600px;
        margin-top: 50px;
        margin-bottom: 50px;
        font-weight: normal;
        font-size: 1rem;
        text-align: center;
    }

    #welcome-img {
        margin-left: 0px;
    }

    #Contact {
        align-content: space-around;
    }

    .contact-link {
        height: auto;
        width: auto;
    }
}