/* NAVIGATION BUTTONS */
/* Navigation bar by Patak https://codepen.io/Patak/pen/QpLpOV/ */
nav {
  margin: 27px auto 0;
  position: relative;
  width: 310px;
  height: 50px;
  background-color: var(--purple-blue);
  border-radius: 8px;
  font-size: 0;
}

nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}

nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  border-radius: 8px;
}

a:nth-child(1) {
  width: 100px;
}

a:nth-child(2) {
  width: 110px;
}

a:nth-child(3) {
  width: 100px;
}

nav .start-home, a:nth-child(1):hover ~ .animation {
  width: 100px;
  left: 0;
  background-color: var(--pink);
}

nav .start-about, a:nth-child(2):hover ~ .animation {
  width: 110px;
  left: 100px;
  background-color: var(--purple-dark);
}

nav .start-blog, a:nth-child(3):hover ~ .animation {
  width: 100px;
  left: 210px;
  background-color: var(--purple1);
}

/* Animated gradient by gradient-animator.com */
.gradient-animation {
  background: linear-gradient(20deg, #542b8f, #8db8ff, white);
  background-size: 200% 300%;
  -webkit-animation: bg-gradient-animated 18s ease infinite;
  animation: bg-gradient-animated 18s ease infinite;
}

@-webkit-keyframes bg-gradient-animated {
  0% {
    background-position: 23% 0%;
  }
  50% {
    background-position: 78% 100%;
  }
  100% {
    background-position: 23% 0%;
  }
}

@keyframes bg-gradient-animated {
  0% {
    background-position: 23% 0%;
  }
  50% {
    background-position: 78% 100%;
  }
  100% {
    background-position: 23% 0%;
  }
}

* {
  margin: 0;
  padding: 0;
  --pink: #D575FF;
  --purple1: #A06BE8;
  --purple2: #9582FF;
  --purple-dark: #6B7AE8;
  --purple-blue: #75AAFF;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
}

img {
  display: block;
  width: 100%;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  display: inline-block;
  position: fixed;
  height: 100px;
  width: 100%;
  background: var(--purple2);
  -webkit-box-shadow: 0.1rem 0.2rem 1rem rgba(120, 0, 150, 0.199);
          box-shadow: 0.1rem 0.2rem 1rem rgba(120, 0, 150, 0.199);
  z-index: 1;
}

#Welcome {
  width: 100%;
  height: 100vh;
  justify-items: space-around;
  border-bottom: 1px dashed white;
}

#Welcome #welcome-img {
  margin: auto auto 0 auto;
  width: 30%;
}

#Welcome #welcome-text-wrapper {
  margin: auto;
  width: 40%;
  font-family: Montserrat;
  color: var(--purple-dark);
}

#Welcome #welcome-text-wrapper h1 {
  font-size: 4rem;
  margin: 1em 0 0.4em 0;
  line-height: 1.8em;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

#Welcome #welcome-text-wrapper h2 {
  font-size: 2rem;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

#Welcome #welcome-text-wrapper h2 .subheading-p {
  margin: 0.5em 0;
}

#Projects {
  padding: 100px 100px;
  background: rgba(107, 122, 232, 0.5);
  -webkit-box-shadow: 0.5px 0px 1px #5634d1;
          box-shadow: 0.5px 0px 1px #5634d1;
}

#Projects .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-items: space-around;
  background: rgba(255, 255, 255, 0.288);
  margin: 1em 1em;
  padding-left: 2em;
  border-radius: 10px;
}

#Projects .card-container .project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2em 2em;
  max-width: 400px;
  min-height: 400px;
  background: var(--purple2);
  border-radius: 4px;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#Projects .card-container .project-card .project-image {
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#Projects .card-container .project-card .project-button {
  background: var(--pink);
  color: #230075;
  padding: 1em 2em;
  width: 60%;
  border: 1px solid black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-decoration: none;
}

#Projects .card-container .project-card .project-button:hover,
#Projects .card-container .project-card .project-button:focus {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em purple;
          box-shadow: 0 0.5em 0.5em -0.4em purple;
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

#Projects .card-container .project-card:hover,
#Projects .card-container .project-card:focus {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}
/*# sourceMappingURL=main.css.map */