@import './_nav-buttons.scss';
@import './_gradient-animation.scss';

// GENERAL PROPERTIES

* {
    margin: 0;
    padding: 0;
    --pink: #D575FF;
    --purple1: #A06BE8;
    --purple2: #9582FF;
    --purple-dark: #6B7AE8;
    --purple-blue: #75AAFF;
}

body {
    width: 100%;
}

img {
    display: block;
    width: 100%;
}

section {
    display: flex;
}

// HEADER
// for nav properties, see /styles/_nav-buttons.scss

header {
    display: inline-block;
    position: fixed;
    height: 100px;
    width: 100%;
    background: var(--purple2);
    box-shadow: 0.1rem 0.2rem 1rem rgba(120, 0, 150, 0.199);
    z-index: 1;
}

//WELCOME SECTION

#Welcome {
        width: 100%;
        height: 100vh;
        justify-items: space-around;
        border-bottom: 1px dashed white;

    #welcome-img {
        margin: auto auto 0 auto;
        width: 30%;
    }

    #welcome-text-wrapper {
        margin: auto;
        width: 40%;
        font-family: Montserrat;

        h1 { 
            font-size: 4rem;
            margin: 1em 0 0.4em 0;
            line-height: 1.8em;
        }

        h2 {
            font-size: 2rem;

            .subheading-p {
                margin: 0.5em 0;
            }
        }
    }
}

//PROJECTS SECTION

#Projects {
    padding: 100px 100px;
    background: rgba(107, 122, 232, 0.5);
    box-shadow: 0.5px 0px 1px rgb(86, 52, 209);

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background: rgba(255, 255, 255, 0.288);
        margin: 1em 1em;
        border-radius: 10px;

        .project-card {
            display: flex;
            flex-direction: column;
            margin: 2em 2em;
            max-width: 300px;
            min-height: 400px;
            background: rgb(255, 255, 255);
            border-radius: 4px;
            filter: saturate(0%);
            transition: 0.2s;
    
            .project-image {
                object-fit: cover;
            }

            .project-button {
                background: #000;
                color:white;
                background: none;
                border: 2px solid black;
                line-height: 1;
                padding: 1em 2em;
            }

            .project-button:hover,
            .project-button:focus {
                box-shadow: 0 0.5em 0.5em -0.4em purple;
                transform: translateY(-0.25em);
                }
        }
    
        .project-card:hover,
        .project-card:focus {
            transition: 0.5s;
            filter: saturate(120%);
        }

    }
  
}


